{% load static %}
<!DOCTYPE html>
<head>
<title>About</title>
</head>

<body background='./static/background.jpg'>
<img src="./static/logo1.png" style="border:none;poition:absolute; top:0px; width:150px;height:170px;float:right">
<h1 style="color:blue; font-family:verdana">About the Project</h1> <b>
<p style="color:green ;font-size:20px ; font-family:verdana"> This project aims to use Machine Learning Technology and basic programming technique to ensure that safety rules are being followed in the country. The two wheelers accidents 
are the most in the country. The automatic detection of breaking of rules and then generating their challan according to present fine can be very useful for traffic regulation.</p>

<p style="color:green ;font-size:20px ; font-family:verdana">The idea is a team of CopVision can use the video recorded at the traffic signals to check if any rule is broken. For a vechicle which has broken the rule, its number plate can
be used to generate E-challans. This problem not only solves the shortage of workforce in traffic police but also implies effective control.</p>
</b>
<div style="position: relative">
                <p style="position: fixed; bottom: 0; width:100%; text-align: left;font-family:Segoe script"> <b>Created by CopVision Team</b> 
                </p>
            </div>
</body>
