<!DOCTYPE html>
<head>
<title>Blog</title>
</head>

<body >
<img src="./static/logo1.png" style="border:none; width:150px;height:170px;float:right"/>
<img src="./static/red_light.png" style="border:none; width:100px;height:100px;display: block;margin-left: auto;margin-right: auto;">
<div style="left:500px ;font-size:40px; font-family:verdana;text-align: center;"> <b><center> General Traffic Rules</center> </b></div>
<br> <br> <br><br>
<img src="./static/general_rules.png" style="border:2px solid #555;;display: block;margin-left: auto;margin-right: auto;" usemap="#image-map">
<map name="image-map">
      <area target="" alt="&quot;Stop&quot; sign requires the drivers to stop" title="&quot;Stop&quot; sign requires the drivers to stop" href="" coords="52,45,49" shape="circle">
    <area target="" alt="&quot;Give Way&quot; sign reminds drivers to give way to right side drivers." title="&quot;Give Way&quot; sign reminds drivers to give way to right side drivers." href="" coords="181,36,45" shape="circle">
    <area target="" alt="&quot;No Entry&quot; sign indicates that there is a restricted area ahead" title="&quot;No Entry&quot; sign indicates that there is a restricted area ahead" href="" coords="304,38,44" shape="circle">
    <area target="" alt="This sign restricts the movement of pedestrian on road or the adjoining area." title="This sign restricts the movement of pedestrian on road or the adjoining area." href="" coords="444,42,49" shape="circle">
    <area target="" alt="This sign shows that driver should not horn and keep silence when driving through a particular area" title="This sign shows that driver should not horn and keep silence when driving through a particular area" href="" coords="583,32,50" shape="circle">
    <area target="" alt="Parking in a designated area is not allowed." title="Parking in a designated area is not allowed." href="" coords="54,154,40" shape="circle">
    <area target="" alt="You can make a temporary stop to load or discharge passengers." title="You can make a temporary stop to load or discharge passengers." href="" coords="181,160,44" shape="circle">
    <area target="" alt="The driver should not surpass the speed mentioned on the Speed Limit sign" title="The driver should not surpass the speed mentioned on the Speed Limit sign" href="" coords="306,158,40" shape="circle">
    <area target="" alt="It notifies about a right-hand curve on the way ahead." title="It notifies about a right-hand curve on the way ahead." href="" coords="442,160,40" shape="circle">
    <area target="" alt="It notifies about a left-hand curve on the way ahead." title="It notifies about a left-hand curve on the way ahead." href="" coords="590,164,37" shape="circle">
	<area target="" alt="The sign is usually seen on hilly roads with sharp turns. It indicates there is a sharp right turn ahead." title="The sign is usually seen on hilly roads with sharp turns. It indicates there’s a sharp right turn ahead." href="" coords="55,280,49" shape="circle">
    <area target="" alt="This sign will warn you about a sharp left turn ahead." title="This sign will warn you about a sharp left turn ahead." href="" coords="177,278,45" shape="circle">
    <area target="" alt="The sign indicates a narrow road ahead " title="The sign indicates a narrow road ahead " href="" coords="306,271,44" shape="circle">
    <area target="" alt="This sign indicates that there’s a narrow bridge ahead." title="This sign indicates that there’s a narrow bridge ahead." href="" coords="440,282,49" shape="circle">
    <area target="" alt="The sign indicates that there's a crossing for pedestrians. When seeing this sign, the driver should either slow down or stop the vehicle and let the pedestrian cross the road first." title="The sign indicates that there's a crossing for pedestrians. When seeing this sign, the driver should either slow down or stop the vehicle and let the pedestrian cross the road first." href="" coords="594,279,50" shape="circle">
    <area target="" alt="This sign indicates about a school ahead." title="This sign indicates about a school ahead." href="" coords="54,392,40" shape="circle">
    <area target="" alt="This sign can be used as a substitute for a road crossing." title="This sign can be used as a substitute for a road crossing." href="" coords="180,389,44" shape="circle">
    <area target="" alt="This sign suggests there is a dip ahead on the road." title="This sign suggests there is a dip ahead on the road." href="" coords="307,392,40" shape="circle">
    <area target="" alt="The sign suggests that there is a hump or rough road ahead" title="The sign suggests that there is a hump or rough road ahead" href="" coords="438,398,40" shape="circle">
    <area target="" alt="This sign signifies a gate-controlled entry ahead such as a toll and hence advises drivers to slow down" title="This sign signifies a gate-controlled entry ahead such as a toll and hence advises drivers to slow down" href="" coords="593,392,37" shape="circle">
</map>
<br> 
<div style="text-align:center;font-family:verdana">
<b>
The above table depicts each traffic sign.Drag your cursor on any sign to know more.
</b>
</body>
